* {
    /* glenda added to disable the weird double click */
    touch-action: manipulation;
    /* box sizing so no horizontal scroll */
    box-sizing: border-box;
}

body {
    font-family: 'Kingthings Xstitch', sans-serif;
    color: #2f2f2f;
}

#container {
    width: 100vw;
    height: 100vh;
}

.home-div {
    overflow: hidden;
}

.header-div {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
}

a {
    color: #2f2f2f;
}


/* .view-display {
    display: none;
}

.landing-display {
    display: flex;
} */


/* Landing Page */

#welcome-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#welcome-overlay section {
    width: 80vw;
    height: 95vh;
    padding: 0 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

#welcome-overlay section>img {
    /* glenda: why 135% */
    width: 135%;
    max-width: 900px;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: -1;
}

#welcome-overlay section>img:last-of-type,
header nav,
#nav-close,
header form,
#container>img,
#tile-overlay>img {
    display: none;
}

#welcome-overlay section div>img {
    width: 100%;
    margin-top: 50px;
}

#welcome-overlay p {
    margin: 10px 0;
}

#welcome-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
}

#welcome-overlay button {
    width: 270px;
    height: 70px;
    margin: 15px auto;
    position: relative;
    border: none;
    font-size: 30px;
    color: #fdfdfd;
}

#welcome-overlay button:first-of-type {
    background-color: #4e60aa;
}

#welcome-overlay button:last-child {
    background-color: #cc4999;
}

#welcome-overlay button a,
header nav li a {
    text-decoration: none;
}

#welcome-overlay section div button img {
    width: auto;
    height: 50%;
}

header {
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    /*used to be center*/
    align-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 5px 10px rgba(47, 47, 47, 0.6);
    z-index: 1;
    /*0*/
}

header a {
    width: 70vw;
    /* max-height: 115px;
    max-width: 480px; */
    /* max-height: 40%; */
}


/* Home is logo */

header a img {
    width: 70vw;
    height: 100%;
    max-height: 115px;
    max-width: 480px;
}

header button:first-of-type img {
    width: 100%;
    margin: auto;
}

header button:first-of-type img,
#welcome-overlay section div button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header button:last-of-type img {
    width: 80%;
}

header button {
    width: 15vw;
    max-height: 80%;
    padding: 0;
    position: relative;
    font-size: 40px;
    border: none;
    background-color: #fdfdfd;
}

header nav {
    margin-right: auto;
}

header nav ul {
    padding-left: 5%;
}

header nav li {
    height: 6vh;
    padding: 20px 0;
    list-style-type: none;
    border-bottom: 1px solid black;
}

header nav li a {
    color: #2f2f2f;
}

header nav li a img {
    width: auto;
    /* height: 100%; */
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
    z-index: 0;
    /*-1*/
}

main img {
    width: 50%;
    /* height: 100%; */
    align-self: flex-start;
}

#zoom-btns {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

#zoom-btns button {
    width: 30px;
    height: 30px;
    font-size: 2em;
    border: none;
    background-color: rgba(253, 253, 253, 0.85);
    box-shadow: 0 0 8px rgba(47, 47, 47, 0.4);
    position: relative;
}

#zoom-btns button:first-of-type {
    margin-bottom: 5px;
}

#zoom-btns button i {
    font-size: 0.7em;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tile-overlay {
    width: 100vw;
    position: fixed;
    top: 15vh;
    /*125px*/
    bottom: 0;
    justify-content: center;
    background-color: rgba(47, 47, 47, 0.6);
    display: none;
}

#tile-overlay button {
    width: 20%;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

#tile-overlay button img {
    width: 100%;
    max-width: 90px;
}

#tile-overlay figure {
    height: 50%;
    margin: 30px 20px;
    align-self: center;
}

#tile-overlay figure img {
    height: 100%;
}

#container>a {
    display: none;
}


/* About / Team Page Mobile*/

#about-main,
#team-main,
#contact-main {
    margin-left: 8%;
    margin-right: 8%;
}

#about-main div,
#team-main div,
#contact-main div {
    width: 70vw;
    height: 15vh;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

#team-main div {
    margin-bottom: 2em;
}

#about-main div img,
#team-main div img,
#contact-main div img {
    height: 40%;
    width: auto;
    margin-top: 4em;
}


/* About Page Mobile */

#about-main p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 0;
}

#about-main p:last-of-type {
    margin-bottom: 5vh;
}


/* Team Page Mobile */

#team-main {
    justify-content: space-between;
}

#team-main figure {
    width: 45%;
    margin: 0 0 2.2em 0;
}

#team-main figure img {
    width: 100%;
}

#team-main figure figcaption {
    margin-top: 0.7em;
}

#team-overlay {
    width: 100vw;
    height: 100vh;
    /*710px*/
    position: fixed;
    top: 0;
    /*125px*/
    background-color: rgba(47, 47, 47, 0.6);
    display: none;
    z-index: 2;
}

#team-overlay section {
    width: 90vw;
    height: 80vh;
    position: relative;
    background-color: #fdfdfd;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

#team-overlay section h3,
#team-overlay section p {
    width: 80%;
    margin: 25px auto;
    line-height: 1.5em;
}

#team-overlay section img {
    width: 50%;
}

#team-overlay section>img {
    display: block;
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

#team-overlay section button {
    width: 70px;
    margin-right: 0;
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #fdfdfd;
    border: none;
}


/* CONTACT PAGE */

#contact-main form input,
#contact-main form label {
    display: block;
}

#contact-main form {
    width: 100%;
    margin-bottom: 10em;
}

#contact-main form label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#contact-main form input {
    height: 7%;
}

#contact-main form input,
#contact-main form textarea {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    background-color: white;
    box-shadow: 0 3px 8px rgba(47, 47, 47, 0.3);
}

#contact-main form input:last-of-type {
    width: 70%;
    height: 10%;
    font-size: 2em;
    color: #fdfdfd;
    background-color: #4B5FAA;
    text-transform: uppercase;
    box-shadow: none;
}

header img,
button,
main img {
    cursor: pointer;
}


/**** TABLET VIEW ****/

@media only screen and (min-width: 700px) {
    header button {
        width: 10%;
        max-width: 100px;
        margin: 0;
    }
    header button img {
        width: 100%;
    }
    /*  header a {
        max-height: 115px;
        max-width: 480px;
    } */
    header a img {
        width: 100%;
    }
    header nav ul {
        padding-left: 13%;
    }
    header nav ul li {
        height: 8.5vh;
    }
    #tile-overlay button {
        width: 12%;
    }
    #tile-overlay figure {
        height: 70%;
        max-height: 70%;
    }
    #zoom-btns button {
        width: 50px;
        height: 50px;
    }
    #zoom-btns button i {
        font-size: 1em;
    }
}


/**** DESKTOP VIEW ****/

@media only screen and (min-width: 1300px) {
    #welcome-overlay section {
        width: 100vw;
        height: 70vh;
        padding: 0 1%;
        flex-direction: row;
    }
    #welcome-overlay section>div {
        padding: 0 5%;
    }
    #welcome-overlay section>img {
        width: initial;
        height: 70%;
        position: initial;
        left: initial;
        top: initial;
        transform: initial;
        align-self: center;
        opacity: 1;
    }
    #welcome-overlay section>img:last-of-type {
        display: block;
    }
    #welcome-overlay section div img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #welcome-btns {
        flex-wrap: nowrap;
        margin-top: 0;
    }
    header {
        width: 40vw;
        height: 10vh;
        padding: 30px 0 0 30px;
        position: relative;
        align-content: flex-start;
        justify-content: flex-start;
        background-color: transparent;
        box-shadow: none;
        transition: top 0.2s ease-in-out;
    }
    header a {
        width: auto;
    }
    header>a img {
        display: none;
    }
    header>button:first-of-type {
        width: 10vh;
        height: 7vh;
        padding: 1px 15px;
        margin-left: 0;
        position: relative;
        align-self: flex-start;
        box-shadow: 0 5px 10px rgba(47, 47, 47, 0.6)
    }
    header button:last-of-type {
        width: 70px;
        margin-right: 0;
        position: absolute;
        top: 10px;
        right: 0;
    }
    header button:first-of-type img {
        width: 65%;
    }
    header nav {
        width: 70%;
    }
    header nav ul {
        padding-left: 2%;
    }
    #container>a,
    #container>img {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    #homeis-sticker-tiles {
        width: 20vw;
        height: auto;
    }
    #homeis-sticker {
        width: 15vw;
        height: 15vw;
    }
    main {
        width: 100vw;
        margin-top: 0;
    }
    main img {
        width: 20%;
    }
    #zoom-btns button {
        width: 40px;
        height: 40px;
    }
    #zoom-btns button:first-of-type {
        margin-bottom: 3px;
    }
    #tile-overlay {
        margin-top: 0;
        display: none;
        top: 0;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    #tile-overlay figure {
        width: initial;
        height: initial;
        max-height: initial;
        margin: 0 10%;
    }
    #tile-overlay figure img {
        height: 80vh;
        width: auto;
    }
    #tile-overlay>img {
        /* arrow imgs*/
        display: block;
    }
    #tile-overlay button {
        width: 7%;
    }
    #tile-overlay button img {
        width: 80%;
    }
    /* About Page / Team Page Desktop*/
    #about-main,
    #team-main,
    #contact-main {
        width: 60vw;
        margin: 0 auto;
    }
    #about-main div,
    #team-main div,
    #contact-main div {
        margin-right: 50%;
        border: none;
    }
    #about-main div img,
    #team-main div img,
    #contact-main div img {
        height: 70%;
        margin-top: 1.8em;
    }
    /* Team Page Desktop*/
    #team-main h1 {
        width: 100%;
    }
    #team-main figure {
        width: 30%;
        margin-bottom: 4em;
    }
    #team-main figure figcaption {
        font-size: 1.2em;
    }
    #team-overlay section {
        width: 40vw;
        font-size: 1.2em;
    }
    #team-overlay section button {
        width: 100px;
    }
    /* Contact Page Desktop*/
    #contact-main p {
        font-size: 1.2em;
        margin-bottom: 25px;
        color: rgba(47, 47, 47, 0.7);
    }
    #contact-main form input:last-of-type {
        width: 25%;
    }
}